/* 
This song use the metaphor of bubble gum to describe the sweet, soft, and delightful emotions of a relationship. 
So we decide to mainly use the warm colors, and lower the chroma to create a sweet and dreamy atmosphere.
*/

body{
    font-family: 'Gamja Flower', sans-serif; 
    font-weight: 400;
    text-align: center;
}

h1 {
    font-family: "Mouse Memoirs", sans-serif;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 5px;
    background: linear-gradient(to bottom, #fb9ac4, #d37cff); /* Cute gradient color for song title. */
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}

h2 {
    font-family: "Mouse Memoirs", sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-top: 5px;
    color: #ec97ff;
}

h2 span {
    font-size: 30px;
    color: #92a2ff; /* The group's representative color. */
}

p {
    font-weight: 500;
}

.verse {
    /* The excitement when thinking of their crush or when he is around. */
    background: linear-gradient(to bottom, #ff4b4b, #fb9ac4); 
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}

.refrain {
    /* Their crush is as delicate as a bubble and as soft as a cloud. */
    background: linear-gradient(to bottom, #6299ff, #d37cff);
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}

.chorus {
    /* The sweet and soft feeling of the relationship is like the taste of bubble gum, 
    makes them feel like they're flying. */
    background: linear-gradient(to bottom, #fb9ac4, #d37cff);
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}

.bridge {
    background: linear-gradient(to bottom, #6299ff, #ff77b9);
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}

.outro {
    /* Feels like being in a hot air balloon, 
    their hearts have already flown so high and so far away. */
    background: linear-gradient(to bottom, #d37cff, #ff77b9);
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}

em {
    /* Hook of the song. */
    font-size: 19px;
    font-style: normal;
    background: none; 
    background-clip: border-box; 
    -webkit-background-clip: border-box; 
    -webkit-text-fill-color: initial;
    color: initial;
    color: #ff96c0;
}

footer {
    margin-top: 30px;
    font-size: 9px;
    font-weight: 200;
    letter-spacing: 1.5px;
    word-spacing: 2px;
    background: none; 
    background-clip: border-box; 
    -webkit-background-clip: border-box; 
    -webkit-text-fill-color: initial;
    font-family: "Mouse Memoirs", sans-serif;
    color: #ff7c7c;
}